* {
  margin: 0;
  background: transparent;
  text-align: center;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: url(images/polygon1.png) right 0% top 56px no-repeat,
    url(images/box1.png) 13.3px 184.2px no-repeat,
    url(images/polygon2.png) right 0 top 237.33px no-repeat,
    url(images/cylinder2.png) left 136.78px top 528.33px no-repeat,
    url(images/box2.png) left 0 top 510.22px no-repeat,
    url(images/cylinder1.png) left 322.56px top 668.69px no-repeat;
  background-size: 62.96px, 28.45px, auto 150px, auto 16.27px, auto 79.49px,
    auto 38.49px;
}

header {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

header a {
  text-decoration: none;
  width: 90px;
  height: 28px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  position: absolute;
  left: 24px;
  top: 10px;
  color: #28352f;
}

header nav {
  position: absolute;
  top: 16px;
  right: 28px;
  color: #28352f;
  cursor: pointer;
}

.intro {
  display: flex;
  position: absolute;
  top: 112px;
  left: 24px;
  flex-direction: column;
}

.intro h1 {
  width: 327px;
  height: 192px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.intro h1 span {
  display: block;
  color: #36b37e;
}

.intro p {
  width: 327px;
  height: 164px;
  margin-top: 58px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

#lines {
  display: block;
  position: absolute;
  top: 54.12px;
  background-color: transparent;
}

.icons {
  display: flex;
  position: absolute;
  top: 584px;
  left: 102.42px;
  height: 40px;
  width: 170.17px;
  justify-content: space-between;
  align-items: center;
}

.icons > * {
  background: transparent;
  height: 50%;
  width: 20px;
}

.action {
  position: absolute;
  top: 666px;
  left: 168px;
}

li {
  list-style-type: none;
}
